
@model MVCSortingPagingJquery.Models.CustomerDataModel

@{
    var grid = new WebGrid(source:Model.Customer, canSort:true,canPage:true
        ,ajaxUpdateContainerId:"divContainer");
    //grid.Bind(Model.Customer, autoSortAndPage: false, rowCount: Model.TotalRecord);
}

<div id="divContainer">
    @grid.GetHtml(
    tableStyle: "gridtable",
    columns: grid.Columns(
                grid.Column("CustomerID", "Customer ID"),
                grid.Column("CustomerName", "Customer Name"),
                grid.Column("Address", "Address"),
                grid.Column("City", "City"),
                grid.Column("PostalCode", "Postal Code")
            )
        )


</div>




    

@* Css for good looks of webgrid *@
<style type="text/css">
        table.gridtable {
            font-family: verdana,arial,sans-serif;
            font-size:11px;
            color:#333333;
            border-width: 1px;
            border-color: #666666;
            border-collapse: collapse;
        }
        table.gridtable th {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #dedede;
        }
        table.gridtable td {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #ffffff;
        }
    </style>