
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    <li><a href="Home/GetStringFromCSVFileDynamicTyped">Home/GetStringFromCSVFileDynamicTyped</a></li>
    <li><a href="Home/GetStringFromCSVFileStronglyTyped">Home/GetStringFromCSVFileStronglyTyped</a></li>    
</ul>